<!-- <div class="movie_result"> -->
  <h1>Movie Result for <%= @title %></h1>
<!--  <input target="/index.erb" class="reset_btn" type="button" value="Search"></input>
</div> -->

<div class="results">
  <h2>Title: <span><%= @title %></span></h2>
  <h2>Rated: <span><%= @rated %></span></h2>
  <h2>Genre: <span><%= @genre %></span></h2>
  <h2>Actors: <span><%= @actors %></span></h2>
  <h2>Released: <span><%= @released %></span></h2>
  <h2>Director: <span><%= @director %></span></h2>
  <h2>Language: <span><%= @language %></span></h2>
  <h2>Awards: <span><%= @awards %></span></h2>
  <h2>IMDB Rating: <span><%= @imdb_rating %></span></h2>
</div>

<img src="<%= @poster %>">

<footer>
  <h2>Plot: <span><%= @plot %></h2>
</footer>
