<!DOCTYPE html>
<html>
  <head>
    <title>Copro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
      <ul id="list-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/projects/new">New Project</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <br><br><br><br>
      <% if logged_in? %>
        <p>Logged in as: <%= current_user.email %></p>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button>Sign out</button>
        </form>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
